.table{
  width: 1100px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  text-align: left;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
