.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
}
/* Шапка сайта */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: block;
  margin: 0%;

  position: relative; /* родителя */

  display: flex;

  color: #000000;
  background-color: #f2f2f2;

  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 64px;

  box-sizing: border-box;

  /* временная отрисовка для понимания границ */
  /* border: 1px solid red; */
}

.logo{
  /* display: block; */
  width: 228px;
  height: 32px;

  margin: 0;
  z-index: 5;
}

.logo_place_header{
  position: absolute;

  top: 30px;
  left: 64px;

  /* временная отрисовка для понимания границ */
  /* border: 1px solid red; */
}

.header__title{
  width: 730px;

  align-self: center;

  font-size: 102px;
  font-weight: 700;

  color: #000000;

  z-index: 4;

  /* временная отрисовка для понимания границ и наложености друг на друга */
  /* border: 1px solid red; */
}

.header__subtitle{
  width: 338px;

  line-height: 25px;
  font-size: 18px;
  font-weight: normal;

  position: absolute;

  color: #000000;

  bottom: 30px;
  left: 64px;

  z-index: 3;

  /* временная отрисовка для понимания границ */
  /* border: 1px solid red; */
}

.header__link{
  text-decoration: none;

  color: #2f80ed;
  /* временная отрисовка для понимания границ */
  /* border: 1px solid red; */
}

.header__main-illustration{
  width: 765px;
  height: 608px;

  position: absolute;
  right: 0;
  bottom: 0;

  z-index: 2;

  /* временная отрисовка для понимания границ */
  /* border: 1px solid red; */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;

  position: absolute;

  top: 64px;
  right: 0;

  background-color: #2f80ed;

  z-index: 1;

}

/* основоной блок */
.content{
margin: 0%;
}
/* Секция, блок description */

.description{
  padding-top: 100px;
  display: flex;
  justify-content: center;

  line-height: 34px;
  font-size: 24px;

}

.two-columns{
  width: 80%;
  min-width: 784px;
  display: flex;
  justify-content: space-between;
  color: #000000;
}

.two-columns__brief{
  width: 175px;

  font-weight: normal;
  line-height: 1.2;
  font-size: 18px;

  margin: 0%;
  color:  #2f80ed;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.two-columns__paragraph{
  margin: 0%;
}

.two-columns__span-accent{
  font-weight: 700;
}

/* Секция, сблок digits */
.digits{
  padding: 100px 0;

  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;

  margin: 0;
  text-align: center;     /* выравнивание текста в блоках */

  display: flex;          /* делаем все 3 элемента под flex */
  flex-direction: column; /* распологаем их вертикально */
  align-items: center;    /* центрируем по горизонтали */

  color: #000000;
  /* временно */
  /* background-color:cadetblue; */
}

.section-title{
  width: 60%; /* по брифу */
  /* height: 100%; */

  line-height: 1.15;  /* у родителя 1.15 стоит */
  font-size: 60px;    /* у родителя 24px стоит */
  font-weight: 700;   /* у родителя 700  стоит */

  margin: 0px 0px 20px 0px;



  /* временно */
  /* background-color: blue; */
}

.section-subtitle{
  width: 60%; /* по брифу */
  /* height: 100%; */

  line-height: 34px;      /* у родителя 24px стоит */
  font-size: 24px;        /* у родителя уже стоит 24px*/ /* но у h2 приоритет по сравнению с родителем */
  font-weight: normal;    /* у родителя 700 стоит */

  margin: 0;


  /* временно */
  /* background-color:blue; */
}

.table{
  width: 1100px; /* по брифу */
  /* height: 100%; */

  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;

  margin: 0;
  text-align: left; /* по брифу */

  padding: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  /* временно */
  /* background-color:green; */
}

.table__cell{
  width: 250px;

  line-height: 1.15;  /* у родителя 1/15 стоит */
  font-size: 24px;    /* у родителя 24px стоит */
  font-weight: normal;/* у родителя 700  стоит */

  margin-top: 60px;

  /* временно */
  /* background-color:red; */
}

.table__heading{
  width: 250px; /* по брифу */
  /* height: 100%; */

  line-height: 1.15;  /* у родителя 1.15 стоит */
  font-size: 24px;    /* у родителя 24px стоит  */
  font-weight: 700;   /* у родителя 700  стоит  */

  margin: 0;

  /* временно */
  /* background-color:red; */
}

.table__text{
  /* width: 250px; по брифу */
  /* height: 100%; */

  line-height: 1.2;   /* у родителя 1.15 стоит */
  font-size: 18px;    /* у родителя 24px стоит */
  font-weight: normal;/* у родителя 700  стоит */

  margin: 0;
  margin-top: 20px;

  /* временно */
  /* background-color:gold; */
}

/* Секция, сблок feynman */

.feynman{
  /* width: 100%; */
  height: 790px;
  padding-top: 100px;
  /* 790px высоты блока и 100px padding в сумме дают 890px */

  /* снизу для картинки  */
  background-repeat: no-repeat;
  background-image: url('./../images/feynman.png');
  background-size: 867px 637px;

  position: relative;
  background-position: left bottom;
  /* сверху для картинки */

  margin: 0;

  display: flex;          /* делаем все 3 элемента под flex */
  flex-direction: column; /* распологаем их вертикально */
  align-items: center;    /* центрируем по горизонтали */

  background-color: #f2f2f2;
  color: #000000;
  /* временно */
  /* border: 1px solid rebeccapurple; */
}

.feynman__title{
  width:  648px;  /* по брифу */

  line-height: 1.15;/* по брифу */
  font-size: 120px; /* по брифу */
  font-weight: 700; /* по брифу */

  margin: 0;
  text-align: center; /* по брифу */
}

.feynman__subtitle{
  padding-top: 70px;  /* для растояния, которое требует бриф */

  line-height: 51px;  /* по брифу */
  font-size: 36px;    /* по брифу */
  font-weight: normal;/* по брифу */

  margin: 0;
}

.feynman__link{
  text-decoration: none;  /* Убираем все лишнее */
  position: absolute;

  top: 50%;
  right: 48px;

  line-height: 51px;
  font-size: 36px;
  font-weight: normal;

  color: #2f80ed;

}

/* Секция, сблок kaufman */
.kaufman{
  /* height: 877px; */

  margin: 0;
  text-align: center;     /* выравнивание текста в блоках */

  display: flex;          /* делаем все 3 элемента под flex */
  flex-direction: column; /* распологаем их вертикально */
  align-items: center;    /* центрируем по горизонтали */
  position: relative; /* родителя */
  overflow: hidden;

  padding-bottom: 90px;
  color:white;
  background-color: #1f1f1f;
}

.section-title_theme_dark{
  color: white;
  margin: 90px 0px 20px 0px;
}

.section-subtitle_theme_dark{
  color: white;
  margin: 0;
}

.table_theme_dark{
  flex-wrap: wrap;
  color: white;

  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark{
  color: white;
}

.table__text_theme_dark{
  color: white;
}

.kaufman__triangle{
  width: 877px;
  height: 877px;
  background-size: cover;
  background-image: url(./../images/kaufman-triangle.svg);

  position: absolute; /* абсолют */
  right: -210px;
}

.footer{
  min-height: 250px;

  padding-top: 60px;
  padding-bottom: 40px;
  /* padding и min-height в сумме дадут 350px, как и требует бриф */

  display: flex;
  justify-content: center;

  background-color: #1f1f1f;
  color: white;
  margin: 0;
}

.footer__columns{
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;



  /* временно */
  /* border: 1px solid #f2f2f2; */
}

.footer__column{

  display: flex;
  flex-direction: column;

  /* временно */
  /* border: 1px solid #f2f2f2; */
}

.footer_content_copyright{
  flex-basis: 711px;

  justify-content: space-between;


  margin: 0;
  /* временно */
  /* border: 1px solid #f2f2f2; */
}

.logo_place_header{
  align-self: flex-start;
  /* временно */
  /* border: 1px solid #f2f2f2; */
}

.footer__author{
  width: fit-content;

  line-height: 25px;  /* по брифу */
  font-size: 18px;    /* по брифу */
  font-weight: normal;/* по брифу */


  margin: 18px 0%;

  /* временно */
  /* border: 1px solid #f2f2f2; */
}

.footer_content_info{

  margin: 0%;
  /* временно */
  /* border: 1px solid #f2f2f2; */
}

.footer__column-heading{

  line-height: 30px;/* по брифу */
  font-size: 18px;  /* по брифу */
  font-weight: 700; /* по брифу */

  padding-bottom: 20px;

  margin: 0%;

  /* временно */
  /* border: 1px solid #f2f2f2; */
}

.footer__column-links{
  text-decoration: none;  /* Убираем все лишнее */

  padding: 0%;

  margin: 0%;
  margin-bottom: 16px;
  /* временно */
  /* border: 1px solid #f2f2f2; */
}

.footer__column-link{
  text-decoration: none;  /* Убираем все лишнее */
  list-style-type: none;


  line-height: 30px;  /* по брифу */
  font-size: 18px;    /* по брифу */
  font-weight: normal;/* по брифу */

  color: white;

  margin: 0%;
  /* временно */
  /* border: 1px solid #f2f2f2; */
}

/* не пригодился :/
.footer_content_social{

}
*/

.footer__social-icon{
  width: 16px;
  height: 16px;

  text-decoration: none;  /* Убираем все лишнее */
  list-style-type: none;

  margin: 0%;
  margin-right: 10px;
  /* временно */
  /* border: 1px solid #f2f2f2; */
}
